.App {
  /* padding: 40px; */
  /* text-align: center; */
  /* flex-grow: 1; */
  margin: 14px 12px;
  /* background-color: #ddd; */
}
.panel {
  padding: 20px;
}
.paper {
  padding: 20px;
}
.avatar,
.primary  {
  background-color: #5c8018 !important;
}
.secondary {
  background-color: #e6e6e7 !important;
}